<!-- <div class="container cards-container">
  <div class="row">
    <div class="col-md-4 p-2" *ngFor="let user of users">
      <div class="card">
        <img class="card-img-top" src="assets/{{user.data.especialidad}}.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">{{(user.data.especialidad).substring(0,1).toUpperCase()}}{{(user.data.especialidad).substring(1)}}</h5>
          <p class="card-text">Si necesita conversar y resolver consultas con un especialista en {{user.data.especialidad}}, puede unirse a la siguiente reunion virtual</p>
          <a href="https://whereby.com/{{(user.data.especialidad).substring(0,3)}}" class="btn btn-primary" target="_blank">
            Unirse</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"> Ayuda COVID-19 PERÚ</a>
    <form class="form-inline">
      <a class="navbar-brand">¿Deseas ayudar ?</a>
      <button class="btn btn-primary  my-2 my-sm-0" type="submit">
        Registrate
      </button>
    </form>
  </nav>

  <section id="team" class="pb-5">
    <div class="container">
      <div class="fondito">
        <h5 class=" fondito section-title h1">
          Professionales ayudando en linea la pandemia mundial COVID-19
        </h5>
        <h2 class="lead fondito parraro"  >
          Somos 2 jovenes que realizamos esta interfaz sin fines de lucro para
          que muchas personas puedan recibir ayuda durante el estado de
          emergencia ordenado en el pais.
        </h2>
        <hr />
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let user of users">
          <div
            class="image-flip"
            ontouchstart="this.classList.toggle('hover');"
          >
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p>
                      <img
                        class=" img-fluid"
                        src="assets/{{ user.data.especialidad }}.png"
                        alt="card image"
                      />
                    </p>
                    <h4 class="card-title">
                      {{ user.data.especialidad.substring(0, 1).toUpperCase()
                      }}{{ user.data.especialidad.substring(1) }}
                    </h4>
                    <p class="card-text">
                      Professional medico con años de experiencia, estoy aqui
                      para consultas.
                    </p>
                    <a href="https://whereby.com/{{(user.data.especialidad).substring(0,3)}}" class="btn btn-primary btn-sm" target="_blank" >CONECTAR</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
