.form-control.login-user {
  border: 0px solid #fff !important;
}
.btn-social{
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.btn-facebook{
  background: #3b5998;
}
.btn-google{
  background: #dd4b39;
}



@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
h2{
  font-family: 'Anton', sans-serif;
  text-align: center;
  padding: 20px;
}
.alineacion{
  text-align: center;
}
.btn-lg{
  margin: 20px;
}
